div {
    display: inline-block;
    margin-right: 10px;
} 

button {
    background-color: rgb(13, 117, 22);
    color: #fff;
    margin-right: 5px;

}

button::after {
    background-color: blueviolet;
}